/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.wrapp .Box .counter {
    width: 100%;
  }
  
  
  .wrapp {
    width: 80%;
    margin-top: 7%;
    margin-left: 18%;
  }
  
    
  .wrapp Form input{
    width: 100%;
    height: 80px;
    font-size: large;
    border: 1px solid #000; /* Set border color to black */
    padding: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-radius: 8px;
  }
  :root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
  }
  
  /* body {
    background: var(--light-bg);
    font-family: "Space Grotesk", sans-serif;
    color: var(--dark);
  } */
  
  .wrapp h3 {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .wrapp p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
  }
  
  .description {
    white-space: wrap;
  }
  
  .wrapp Button {
    text-decoration: none;
    color: inherit;
  }
  
  /* .wrap {
  
  } */
  
  .supp-boxx {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #fff;
    margin-top: 7%;
    display: flex;
    justify: space-between;
    align-items: stretch;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
    height: 300px;
    border-radius: 8px;
  }
  
  .box-topp {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  }
  
  /* .box-imagee {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: 50% 20%;
  } */
  
  .title-flexx {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box-titlee {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
  }
/*   
  .user-follow-info {
    color: hsl(0, 0%, 60%);
  } */
  
  .wrapp .button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
  }
  
  .wrapp .button:hover {
    background: var(--purple);
  }
  
  .fill-one {
    background: var(--light-bg);
  }
  
  .fill-two {
    background: var(--pink);
  }
  
  /* RESPONSIVE QUERIES */
  
  @media (min-width: 320px) {
    .title-flexx {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 460px) {
    .title-flexx {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 640px) {
    .supp-boxx {
      flex-basis: calc(50% - 12px);
    }
    .title-flexx {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 840px) {
    .title-flexx {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1024px) {
    .supp-boxx {
      flex-basis: calc(33.3% - 16px);
    }
    .title-flexx {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1100px) {
    .supp-boxx {
      flex-basis: calc(25% - 18px);
    }
  }
  